/* Color Palette
# - #BAC1B8
# - #58A4B0
# - #0C7C59
# - #2B303A
*/

html {
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body {
    background: #BAC1B8;
    /* width: 70%; */
    margin: 0 auto;
}

header, footer {   
    font-family: "Inter", serif; 
    background: #58A4B0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

footer {
    text-align: center;
}

main {
    background-color: #2b303a
}

h1, h2, h3, h4, h5, h6, p, li{
    color: #f9fef8;
}

h1 {
    font-size: 2.4em;
    margin: 0;
}

h2 {
    font-size: 1.8em;
    margin-top: 0;
}

a {
    color: #99FFB8;
}

#work {
    font-family: "Roboto Slab", serif;
    display: block;
    margin-bottom: 0px;
    background-color: #2b303a;
}

#education {
    font-family: "Roboto Slab", serif;
    display: block;
    margin-top: 0px;
    background-image: url(../images/edu_background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.about-me {
    padding-top: 50px;
    display: flex;
    background: #58A4B0;
    justify-content: center;
    align-items: center;
}

.alpha-bg {
    background: rgba(12,124,89,0.5);
}

.content-wrap {
    max-width: 950 px;
    margin: 0 auto;
    padding: 50px;
    margin-top: 0px;
    overflow: hidden;
}

.contact-info a{
    padding: 10px;
    display: inline-block;
}

.column-narrow {
    width: 30%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
}

.column-wide {
    width: 70%;
    float: left;
    min-height: 225px;
}

.profile-img {
    border-radius: 50%;
}

.topnav {
    background-color: #2b303a;
    overflow: hidden; 
    justify-content: center;
    align-items: center
}

.topnav a{
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #99FFB8;
    color: #2b303a;
}